body,
p,
h1,
h2,
h3 {
  margin: 0 !important;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  background-color: #fff;
  /* border: 1px solid grey; */
  padding: 8px 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.navbar-nav {
  text-align: center;
}
.navbar-nav li {
  display: inline;
}
.navbar .navbar-nav li a {
  color: #0b0d17;
  padding: 15px 15px;
  text-decoration: none;
  display: inline;
  outline: none;
  transition: all 0.5s ease-in-out;
}

.navbar-nav li a:hover {
  color: #fff;
  background-color: #0b0d17;
}

.flexible-container {
  display: flex;
}
.orange-color {
  background-image: linear-gradient(salmon, tomato);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.half-width {
  width: 50%;
  margin-left: 100px;
}
.half-width img {
  width: 100%;
}
section {
  margin-top: 50px;
  margin-bottom: 100px;
}
.heading-1 {
  font-size: 60px;
  color: #575757;
  font-weight: 700;
  line-height: 78px;
}
.heading-2 {
  font-size: 40px;
  color: #575757;
  font-weight: 700;
  line-height: 78px;
}
.text-box {
  text-align: center;
  width: calc(100% / 3);
  margin: 0 auto 40px;
}
.btn-box {
  margin-top: 50px;
  display: inline-block;
  min-height: 60px;
}
.btn-grad {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
}

.btn-grad {
  box-shadow: -2px 1px 20px 1px rgba(252, 143, 73, 0.5);
  text-decoration: none;
  padding: 20px 40px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 100px;
  font-weight: 400;
  float: left;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

#section-2 {
  background-image: url("images/bg-2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.one-third-width {
  width: calc((100%-10%) / 3);
}
.text-center {
  text-align: center;
}
.recp-card {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}
.subscribtion-card {
  padding: 65px 0px;
}
.recp-card:nth-of-type(odd) {
  margin-left: 50px;
  margin-right: 50px;
}
.img-box {
  width: 90%;
  padding: 5%;
  /* margin: 0 auto; */
}
.img-box img {
  width: 100%;
  border-radius: 5%;
}
.text-box-inner {
  padding: 5%;
  line-height: 20px;
}
footer {
  background-color: #0b0d17;
  padding: 40px 0;
}
.copy-right {
  color: #fff;
}
